// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-size: 13px;
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
  margin-left: 6px;
}

strong {
  font-weight: bold;
}

h1 {
  margin: 33px;
  margin-left: 27px;
}

span {
  font-weight: normal;
}

p {
  margin-left: 60px;
  margin-bottom: 33px;
  font-size: 13px;
}